/*
  Author: Geoffrey Grosenbach
  See: https://authors.pluralsight.com/course-design-guidelines/
*/

$darker-orange: #C7531E;
$dark-orange: #F26721;
$lightest-orange: #FABD9F;

$darkest-grey: #454547;
$darker-grey: #58585B;
$dark-grey: #6D6E70;
$light-grey: #DDDEE0;
$lighter-grey: #ECEDEE;
$lightest-grey: #F3F3F4;

$dark-green: #72984b;
$light-green: #a3d55f;
$lightest-green: #d0debc;

$dark-blue: #4c868f;
$light-blue: #62b1bd;
$lightest-blue: #a2dae8;

$error-red: #ff0000;
$success-green: #008000;

